{{define "body"}}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Reports</a></li>
        </ul>

      </div>
      <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        <h1>Dashboard</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder offset-md-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
            <h4>User Name</h4>
            <span class="text-muted">Cool Title</span></br>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Add Event</button>
          </div>

        </div>

        <h2>User's Events</h2>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>

              {{ range . }}
                <tr {{if eq .Type 1}} class="table-success"{{end}}{{if eq .Type -1}} class="table-danger"{{end}}>
                  <td>
                    <span class="label">{{.Id}}</span>
                  </td>
                  <td>
                      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    {{if eq .Type 1}}
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    {{end}}
                    {{if eq .Type -1}}
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    {{end}}
                  </td>
                  <td>
                    {{.Name}}
                  </td>
                  <td>
                    {{.Description}}
                  </td>
                  <td>
                    {{.Created}}
                  </td>
                </tr>
                {{end}}
              </tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Event</h4>
        </div>
        <div class="modal-body">
        <form method="POST" action="/events/createEvent" id="form-create-event">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Event Name:</label>
            <input type="text" class="form-control" id="event-name" name="eventName">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Event Description:</label>
            <textarea class="form-control" id="event-description" name="eventDescription"></textarea>
          </div>
          <div class="form-group">
          <label for="type-select">Select:</label>
            <select class="form-control" id="event-type" name="eventType">
                <option value="pos">Positive</option>
                <option value="neg">Negative</option>
            </select>
          </div>
        </form>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="form-create-event-submit">Add Event</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script >
  var eventSubmit = document.querySelector('#form-create-event-submit');
  var eventName = document.querySelector('#event-name');
  var eventDescription = document.querySelector('#event-description');
  var eventType = document.querySelector('#event-type');
  //    Creating Event
  //    Event status
  eventSubmit.addEventListener('click', function(e){
    e.preventDefault();
    var formData = new FormData( document.getElementById("form-create-event") );
    var xhr = new XMLHttpRequest();
    $('#myModal').modal('hide');
    xhr.open('POST', '/events/create');
    xhr.send(formData)
    xhr.addEventListener('readystatechange', function(){
        if (xhr.readyState === 1) {
            var item = xhr.responseText;
            console.log("Event added");
          }
    });
    location.reload();
    return;
  });
</script>
{{end}}
